*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}


.contact-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #c01df2;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 150px;
    height: 5px;
    background-color: #d70fff;
    border-radius: 10px;
    margin-bottom: 20px
}

.contact-inputs{

    width:400px;
    height: 50px;
    border: none;
outline: none;
padding-left: 25px;
font-weight: 500;
color: darkslategray;
border-radius: 50px;

}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 25px;
}
.contact-inputs:focus{
border: 2px solid rgb(212, 0, 255);
}


/* .contact-left button
{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    gap:10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    background: #0f33ff;
} */


@media (max-width: 767px) {
.contact-inputs{
    width: 80vw;
   margin-left: 30px;
}

.contact-left button{
    margin-left: 30px;
}
.contact-right{
    display: none;
}

.contact-left-title h2{
    
    margin-left: 30px;
}

.contact-left-title hr{
    margin-left: 30px;
}

    }


    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;900&display=swap');

input {
  caret-color: red;
}

.contact-left h5{
    color: #801df2;
}


body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: #ecf0f3;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: poppins;
}

.container {
  position: relative;
  width: 350px;
  height: 500px;
  border-radius: 20px;
  padding: 40px;
  box-sizing: border-box;
  background: #ecf0f3;
  box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
}

/* .brand-logo {
  height: 100px;
  width: 100px;
  background-image: url(../global-master/assets/img/work-alex-nowak.jpg);
  margin: auto;
  border-radius: 50%;
  box-sizing: border-box;
  box-shadow: 7px 7px 10px #cbced1, -7px -7px 10px white;
} */

.brand-title {
  margin-top: 10px;
  font-weight: 900;
  font-size: 1.8rem;
  color: #1DA1F2;
  letter-spacing: 1px;
}
.player{
width: 15%;
}
.inputs {
  text-align: left;
  margin-top: 30px;
}

label, input, button {
  display: block;
  width: 100%;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}

label {
  margin-bottom: 4px;
}

label:nth-of-type(2) {
  margin-top: 12px;
}

input::placeholder {
  color: gray;
}

input {
  background: #ecf0f3;
  padding: 10px;
  padding-left: 20px;
  height: 50px;
  font-size: 14px;
  border-radius: 50px;
  box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

button {
  color: white;
  margin-top: 20px;
  background: #9d1df2;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 900;
  box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

a {
  position: absolute;
  font-size: 8px;
  bottom: 4px;
  right: 4px;
  text-decoration: none;
  color: black;
  background: yellow;
  border-radius: 10px;
  padding: 2px;
}

h1 {
  position: absolute;
  top: 0;
  left: 0;
}

select{
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}


textarea{
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}